@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #050c14;
    --foreground: #ffffff;

}

@theme inline {
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --breakpoint-xs: 480px;
    --animate-rotate-paa: rotatePaa 5s linear infinite;
    --animate-slide-in-up: slideInUp 0.5s ease-out forwards;
    --animate-opacify: opacify 1s ease-in;
    --animate-springify: springify 3.5s;

    @keyframes rotatePaa {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes slideInUp {
        0% {
            border-radius: 50% 50% 0% 0%;
        }
        60% {
            transform: translateY(-10px);
            border-radius: 10% 10% 0% 0%;
        }
        90% {
            transform: translateY(1px);
            border-radius: 15% 15% 0% 0%;
        }
        100% {
            transform: translateY(0);
            border-radius: 0;
        }
    }

    @keyframes opacify {
        0% {
            scale: 0.1;
        }
        ,
        50% {
            scale: 0.5;
        }
        100% {
            scale: 1;
        }
    }

    @keyframes springify {
        0% {
            transform: translateX(70%);
        }
        60% {
            transform: translateY(40%);
        }
        90% {
            transform: translateY(55%);
        }
        100% {
            transform: translateY(445%);
        }
    }
}

.xlarge-text {
    @apply xs:text-[44.5px] text-[32px] leading-[1.1] sm:text-[60px] lg:text-[88px] xl:text-[128px];
}

.large-text {
    @apply text-[36px] leading-[1.2] md:text-[52px] xl:text-[84px];
}

.md-text {
    @apply xl:text-[60px] text-[29px] md:text-[44px];
}

.base-text {
    @apply text-[14px] md:text-[21px] xl:text-[32px];
}

.sm-text {
    @apply text-[10px] md:text-[15px] xl:text-[20px];
}

.xs-text {
    @apply text-[8px] sm:text-[16px];
}

.large-pad {
    @apply px-6 sm:px-10 lg:px-14 xl:px-20;
}

.md-pad {
    @apply px-4 md:px-8 xl:px-12;
}

.large-pady {
    @apply py-8 sm:py-12 xl:py-16;
}

.md-pady {
    @apply py-4 md:py-8 xl:py-12;
}

.easy {
    @apply delay-150 duration-300 ease-in-out;
}


body {
    background: var(--background);
    color: var(--foreground);
}

.rainbow-box {
    background: #000;
    background-clip: padding-box;
}
.rainbow-box::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(
        45deg,
        #2a5595,
        #bb00c2,
        #00c241,
        #fa9663,
        #f6e820,
        #e9721d,
        #023f42,
        #ce07d5,
        #03b2d1,
        #a09612
    );
}

.blue-gradient {
    background-color: #051428;
    background-clip: padding-box;
}

.blue-gradient::before {
    position: absolute;
    z-index: -1;
    content: "";
    inset: 0;
    margin: -1.5px;
    border-radius: inherit;
    background: linear-gradient(to top, #051428, #053373);
}

.dashed-line {
    width: 100%;
    height: 2px;
    background-image: repeating-linear-gradient(
        to right,
        #ffffff80 0 6px,
        /* dash */ transparent 6px 12px /* space */
    );
}

.colored-dashes::after {
    position: absolute;
    z-index: 10;
    content: "";
    inset: 0;
    background: repeating-linear-gradient(
        to right,
        black 0 9px,
        /* dash */ transparent 9px 18px /* space */
    );
}

.glow:hover {
    box-shadow: 0 0 35px var(--color-yellow);
}