@import "tailwindcss";
@custom-variant light (&:where(.light, .light *));

:root {
    --background: #050c14;
    --foreground: #ffffff;
}

.light {
    --background: #050c14;
    --foreground: #ffffff;
}

@theme inline {
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --breakpoint-xs: 480px;
    --animate-springify: springify 3.5s;
    --animate-opacify: opacify 1s ease-in;
    --animate-rotate-paa: rotatePaa 5s linear infinite;
    --animate-slide-in-up: slideInUp 0.5s ease-out forwards;
    --animate-slide-left-to-right: slideLeftToRight 10s linear infinite;
    --animate-slide-right-to-left: slideRightToLeft 11s linear infinite;

    @keyframes rotatePaa {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes slideInUp {
        0% {
            border-radius: 50% 50% 0% 0%;
        }
        60% {
            transform: translateY(-10px);
            border-radius: 10% 10% 0% 0%;
        }
        90% {
            transform: translateY(1px);
            border-radius: 15% 15% 0% 0%;
        }
        100% {
            transform: translateY(0);
            border-radius: 0;
        }
    }

    @keyframes opacify {
        0% {
            scale: 0.1;
        }
        ,
        50% {
            scale: 0.5;
        }
        100% {
            scale: 1;
        }
    }

    @keyframes springify {
        0% {
            transform: translateX(70%);
        }
        60% {
            transform: translateY(40%);
        }
        90% {
            transform: translateY(55%);
        }
        100% {
            transform: translateY(445%);
        }
    }

    @keyframes slideLeftToRight {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(8%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slideRightToLeft {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-8%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

.xlarge-text {
    @apply xs:text-[44px] text-[32px] leading-[1.1] sm:text-[56px] md:text-[68px] lg:text-[80px] xl:text-[92px] 2xl:text-[100px];
}

.large-text {
    @apply xs:text-[36px] text-[28px] leading-[1.2] sm:text-[44px] md:text-[52px] lg:text-[60px] xl:text-[72px] 2xl:text-[84px];
}

.md-text {
    @apply xs:text-[30px] text-[24px] sm:text-[36px] md:text-[42px] lg:text-[48px] xl:text-[54px] 2xl:text-[60px];
}

.base-text {
    @apply xs:text-[18px] text-[16px] sm:text-[20px] md:text-[24px] lg:text-[28px] xl:text-[30px] 2xl:text-[32px];
}

.sm-text {
    @apply xs:text-[14px] text-[12px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px];
}

.xs-text {
    @apply xs:text-[11px] text-[10px] sm:text-[12px] md:text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px];
}

.xlarge-pad {
    @apply px-10 sm:px-16 lg:px-24 xl:px-32;
}

.large-pad {
    @apply px-6 sm:px-10 lg:px-14 xl:px-20;
}

.md-pad {
    @apply px-4 md:px-8 xl:px-12;
}

.xlarge-pady {
    @apply py-12 sm:py-20 xl:py-28;
}

.large-pady {
    @apply py-8 sm:py-12 xl:py-16;
}

.md-pady {
    @apply py-4 md:py-8 xl:py-12;
}

.easy {
    @apply delay-150 duration-300 ease-in-out;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.rainbow-box {
    background: #000;
    background-clip: padding-box;
}
.rainbow-box::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(
        45deg,
        #2a5595,
        #bb00c2,
        #00c241,
        #fa9663,
        #f6e820,
        #e9721d,
        #023f42,
        #ce07d5,
        #03b2d1,
        #a09612
    );
}

.blury {
    background: radial-gradient(
        50% 50% at 50% 50%,
        hsla(210, 100%, 85%, 0.06) 0,
        hsla(210, 100%, 55%, 0.02) 80%,
        transparent 100%
    );
}

.blury-01 {
    background: radial-gradient(
        68.54% 68.72% at 55.02% 51.46%,
        hsla(210, 100%, 85%, 0.08) 0,
        hsla(206 89.9% 12.1% / 0.08) 50%,
        hsla(210, 100%, 45%, 0) 80%
    );
}

.blue-gradient {
    background-color: #051428;
    background-clip: padding-box;
}

.blue-gradient::before {
    position: absolute;
    z-index: -1;
    content: "";
    inset: 0;
    margin: -1.5px;
    border-radius: inherit;
    background: linear-gradient(to top, #051428, #053373);
}

.dashed-line {
    width: 100%;
    height: 2px;
    background-image: repeating-linear-gradient(
        to right,
        #ffffff80 0 6px,
        /* dash */ transparent 6px 12px /* space */
    );
}

.colored-dashes::after {
    position: absolute;
    z-index: 10;
    content: "";
    inset: 0;
    background: repeating-linear-gradient(
        to right,
        black 0 9px,
        /* dash */ transparent 9px 18px /* space */
    );
}

.glow:hover {
    box-shadow: 0 0 35px var(--color-yellow);
}
