@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #050c14;
    --foreground: #ffffff;
    --background-red: #a90103;
    --background-dark-cyan: #017885;
    --background-shade-green: #06260f;
}

@theme inline {
    --breakpoint-xs: 480px;
    --color-red: var(--background-red);
    --font-mono: var(--font-geist-mono);
    --font-sans: var(--font-geist-sans);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --animate-springify: springify 3.5s;
    --animate-opacify: opacify 1s ease-in;
    --color-dark-cyan: var(--background-dark-cyan);
    --color-shade-green: var(--background-shade-green);
    --animate-infinite-rotate: infinite-rotate 5s linear infinite;

    @keyframes infinite-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes opacify {
        0% {
            scale: 0.1;
        }
        ,
        50% {
            scale: 0.5;
        }
        100% {
            scale: 1;
        }
    }

    @keyframes springify {
        0% {
            transform: translateX(70%);
        }
        60% {
            transform: translateY(40%);
        }
        90% {
            transform: translateY(55%);
        }
        100% {
            transform: translateY(445%);
        }
    }
}

.xxlarge-text {
    @apply xs:text-[36px] text-[30px] leading-[1.1] sm:text-[44px] md:text-[53px] lg:text-[64px] xl:text-[76px] 2xl:text-[92px];
}

.xlarge-text {
    @apply xs:text-[29px] text-[24px] leading-[1.1] sm:text-[35px] md:text-[42px] lg:text-[50px] xl:text-[60px] 2xl:text-[72px];
}

.large-text {
    @apply xs:text-[22px] text-[18px] leading-[1.2] sm:text-[26px] md:text-[31px] lg:text-[37px] xl:text-[44px] 2xl:text-[52px];
}

.md-text {
    @apply xs:text-[18px] text-[16px] sm:text-[21px] md:text-[24px] lg:text-[28px] xl:text-[32px] 2xl:text-[36px];
}

.base-text {
    @apply xs:text-[14.5px] text-[13px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[25px];
}

.sm-text {
    @apply xs:text-[11px] text-[10px] sm:text-[12px] md:text-[13.5px] lg:text-[15px] xl:text-[16.5px] 2xl:text-[18px];
}

.xs-text {
    @apply xs:text-[8.5px] text-[8px] sm:text-[9px] md:text-[9.5px] lg:text-[10.5px] xl:text-[11.5px] 2xl:text-[12.5px];
}

.pad {
    @apply p-3 md:p-4 xl:p-5;
}

.pad-x {
    @apply px-3 md:px-4 xl:px-5;
}

.pad-y {
    @apply py-3 md:py-4 xl:py-5;
}

.gap {
    @apply gap-3 md:gap-4 xl:gap-5;
}

.gap-x {
    @apply gap-x-3 md:gap-x-4 xl:gap-x-5;
}

.gap-y {
    @apply gap-y-3 md:gap-y-4 xl:gap-y-5;
}

.large-pad {
    @apply px-6 sm:px-10 lg:px-14 xl:px-20;
}

.md-pad {
    @apply px-4 md:px-7 xl:px-12;
}

.large-pady {
    @apply py-8 sm:py-12 xl:py-16;
}

.md-pady {
    @apply py-4 md:py-8 xl:py-12;
}

.easy {
    @apply delay-150 duration-300 ease-in-out;
}

.smooth {
    @apply transition-all duration-300 ease-in-out;
}


body {
    background: var(--background);
    color: var(--foreground);
}

.recharts-wrapper *:focus {
    outline: none;
}

.rainbow-box {
    background: #050c14;
    background-clip: padding-box;
}
.rainbow-box::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -3px;
    border-radius: inherit;
    background: linear-gradient(
        45deg,
        #2a5595,
        #bb00c2,
        #00c241,
        #fa9663,
        #f6e820,
        #e9721d,
        #023f42,
        #ce07d5,
        #03b2d1,
        #a09612
    );
}


.gradient-link {
    background: linear-gradient(to right, #0f1729, #0c1426);
    background-clip: padding-box;
    display: relative;
}

.gradient-link::before {
    position: absolute;
    inset: 0;
    content: "";
    z-index: -1;
    margin: -1.5px;
    border-radius: inherit;
    background: linear-gradient(
        to right,
        #6973e7,
        #6973e780,
        #6973e780,
        #6973e7
    );
}

.blue-gradient {
    background-color: #051428;
    background-clip: padding-box;
}

.blue-gradient::before {
    position: absolute;
    z-index: -1;
    content: "";
    inset: 0;
    margin: -1.5px;
    border-radius: inherit;
    background: linear-gradient(to top, #051428, #053373);
}


.dashed-line {
    width: 100%;
    height: 2px;
    background-image: repeating-linear-gradient(
        to right,
        #ffffff80 0 6px,
        /* dash */ transparent 6px 12px /* space */
    );
}

.colored-dashes::after {
    position: absolute;
    z-index: 10;
    content: "";
    inset: 0;
    background: repeating-linear-gradient(
        to right,
        black 0 9px,
        /* dash */ transparent 9px 18px /* space */
    );
}


/* Fix browser autofill changing input background to white */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
